<div class="container-xxl py-5">
    <div class="container pt-5">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <img src="img/icons/design-approach.png" alt="Icon">
                    </div>
                    <h3 class="mb-3">Design Approach</h3>
                    <p class="mb-0">
                        Our design approach is centered on understanding your vision and translating it into aesthetically pleasing and functional spaces.
                        We blend creativity with practicality to create designs that are both beautiful and purposeful.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <img src="img/icons/innovative-solution.png" alt="Icon">
                    </div>
                    <h3 class="mb-3">Innovative Solutions</h3>
                    <p class="mb-0">
                        We are committed to pushing the boundaries of design with innovative solutions that incorporate the latest trends and technologies. Our team thrives on creativity and is always exploring new ways to bring fresh, unique ideas to life.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <img src="img/icons/project-management.png" alt="Icon">
                    </div>
                    <h3 class="mb-3">Project Management</h3>
                    <p class="mb-0">
                        Our comprehensive project management ensures that every project is completed on time and within budget. From initial concept to final construction, we meticulously oversee every detail to deliver seamless and stress-free results.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
