@page "/"

<PageTitle>Home</PageTitle>

<HomeCarousel></HomeCarousel>

<Facts></Facts>

<About></About>

<Services></Services>

<Features></Features>

<Projects></Projects>

<Team></Team>

<Contact></Contact>

<Testimonials></Testimonials>

<Footer></Footer>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
